@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.normal-font-styling {
  font-family: Arial, Helvetica, sans-serif !important;
}

.style-the-button{
  background-color: #671b7a;
}

.cart-painting{
  max-width: 296px;
}

.painting-size{
  min-width: 300px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.animate-fadeIn {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Slide up slightly */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px); /* Slide down slightly */
  }
}
